{% extends "layout.html" %}
{% load static %}

{% block content %}
<h1>Upcoming Unscheduled Trips</h1>
<div v-cloak id="trips-future">
    <div v-for="trip in trips">
        <div class="trip-display">
             [[trip.resident.first_name]] [[trip.resident.last_name]] going to [[trip.destination.name]] at [[trip.trip_datetime]]
             <a class="trip-link" v-bind:href="'/schedule/trip/detail/' + trip.id" target=_parent>Edit</a>
        </div>
    </div>
    
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/trip/unscheduled.js' %}"></script>

{% endblock scripts %}