{% extends "layout.html" %}

{% block content %}
{% if request.user.is_authenticated %}
<h1>Schedule a Ride</h1>

<div>
    <form method="POST" style="position: relative">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Complete Trip</button>
    </form>
</div>
{% endif %}

{% endblock content %}

{% block stylesheets %}
    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>
<script>
    $(function () {
        $('.datetime-input').datetimepicker({
            format:'YYYY-MM-DD HH:mm:ss'
        })
    });
</script>
{% endblock %}