{% extends "layout.html" %}
{% load static %}

{% block content %}

<h1>Create a ride reqest</h1>
<div id="ride-form">
    <div id="resident-search">
        <div class="input-field">
            <div class="text-input name-input">
                <input v-model="first_name">
                <p>First Name</p>
            </div>
            <div class="text-input name-input">
                <input v-model="last_name">
                <p>Last Name</p>
            </div>
            <div class="DOB-input">
                <div class="month-input">
                    <input v-model="DOB" placeholder="DD/MM/YYYY">
                    <p>Date of Birth</p>
                </div>
            </div>
        </div>
        <div>
            <input type="submit" v-on:click="checkSubmit" value="Search">
        </div>
    </div> 
    <div class="resident-display">
        <div v-if="resident_found === true">
            <p>Found: [[resident.first_name]][[resident.last_name]]</p>
        </div>
        <div v-else>
            Please Select A Resident
        </div>
        <div v-if="error === true">
            <p>[[error_message]]</p>
        </div>
    </div>
    
    <div v-if="resident_found === true">
        <div class="input-field">
            
            Destination: <input type="text" v-model="search">
            <div v-for="destination in destinationFilter">
                <a>[[destination.name]] [[destination.address]]</a>
            </div>
            <div>
                <input type="submit" v-on:click:"newDestination">
            </div>
        </div>
    </div>
    <div v-if="new_destination === true">
        <div class="input-field">
            <input v-model="new_destination_name">
            <p>Clinic Name</p>
            <input v-model="new_destination_address">
            <p>Address</p>
            <input v-model="new_destination_suit">
            <p>Suit Number</p>
            <input v-model="new_destination_strecher">
            <p>Accomidates Strecher</p>

        </div>
    </div>
    
    <div v-if="destination_selected === true">
        <div class="input-field"
        <input v-model="procedure">
        <p>Reason for Trip</p>
        <input v-model="appointment_datetime" placeholder="">
        <p>Time and Date of appointment</p>
        <input v-model="strecher" placeholder="">
        <p>Strecher</p>
        <input v-model="oxygen" placeholder="">
        <p>oxygen</p>
        <input v-model="oxygen_liters">
        <p>liters</p>
        <div>
            <input type="submit" v-on:click="checkSubmit" value="Search">
        </div>
    </div>
    
</div>   
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/trip/trip_request.js' %}"></script>

{% endblock scripts %}