{% extends "layout.html" %}

{% block content %}
<div>
    <h2>
        Welcome To Your Transportation Manager
    </h2>
    
    {% if request.user.is_authenticated %}
    <form action="{% url 'schedule:dashboard' %}">
        <input type="submit" value="Go to Your Dashboard">
    </form>
    
    {% else %}
    <form action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <input type="submit" value="Log In">
    </form>
    <form action="{% url 'accounts:register' %}">
        <input type="submit" value="Register">
    </form>
    {% endif %}
</div>

{% endblock content %}