{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Transportation | {% block title %}{% endblock %}</title>
    <link href="//cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    {% block stylesheets %}{% endblock %}
    <input type="hidden" id="_true_csrf" value="{{csrf_token}}">    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'schedule:dashboard' %}">Transport Manager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schedule:render_trip_request' %}">Create a Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'schedule:api_triplist_unscheduled' %}">Unscheduled Rides</a>
                </li>
            </ul>
        {% if request.user.is_authenticated %}    
        <div class="login-display nav-item">
        Logged In As: {{request.user.username}}
        </div>
        {% endif %}
        </div>

    </nav>
    <div id="page">
        <div id="content">
            {% block content %}{% endblock %}
        </div>
    </div>
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/vue"></script>
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>